<!-- /sections/collection-highlights.liquid -->
{%- assign item = section.settings -%}
<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">
  {%- assign collection = collections[item.collection] -%}
  <header class="section-header text-center">
    <h1 class="header_2" style="color: {{item.heading_color}};">{{ item.heading }}</h1>
  </header>
  <div class="grid-uniform">
    {% assign grid_item_width = 'medium--one-half large--one-third' %}
    {% for product in collection.products %}
      {% include 'product-grid-item_slider' %}
    {% endfor %}
  </div>
</div>



{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
       "type": "color",
       "id": "heading_color",
       "label": "Heading color",
       "default": "#000"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
